.mission-card {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  font-weight: bold;
  background: rgba(13, 14, 20, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
  width: 400px;
}

.mission-datas {
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #FFFFFF;
  font-weight:lighter;
}
