.Mercúrio {
  height: 31px;
  width: 41px;
}

.Vênus {
  height: 76px;
  width: 102px;
}

.Terra {
  height: 79px;
  width: 106px;
}

.Marte {
  height: 50px;
  width: 66px;
}

.Júpiter {
  height: 204px;
  width: 272px;
}

.Saturno {
  height: 210.9px;
  transform: rotate(-16.53deg);
  width: 282.41px;
}

.Urano {
  height: 109px;
  width: 144px;
}

.Netuno {
  height: 107px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 144px;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: 250px;
  justify-content: space-between;
  margin: auto;
}

.image-planet-container {
  align-items: center;
  display: flex;
  height: 100%;
}
