.sun {
  margin-right: 250px;
  width: 200px;
}

.sun-card {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: 250px;
  justify-content: space-between;
  margin: auto;
}
