@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap') ;

body {
  background-image: url('./images/background.png');
  color: aliceblue;
  font-family: Epilogue , sans-serif;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}

.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line {
  border: 1px solid #9b9b9b;
  height: 0;
  left: 0;
  position: absolute;
  top: 250px;
  width: 100%;
  z-index: -1;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: auto;
  padding: 0;
}
